# for email capabilities:
SENDGRID_API_KEY="abc123" # use your own API Key!
MY_EMAIL_ADDRESS="someone@gmail.com" # use the email address you associated with the SendGrid service

# for SMS capabilities:
TWILIO_ACCOUNT_SID="abc456"
TWILIO_AUTH_TOKEN="abc789"
SENDER_SMS="+12021234567"
RECIPIENT_SMS="+12021234567"

# for tweeting capabilities:
TWITTER_API_KEY="xyz123"
TWITTER_API_SECRET="xyz456"
TWITTER_ACCESS_TOKEN="xyz789"
TWITTER_ACCESS_TOKEN_SECRET="xyz987"
